.update {
    color:  #813aff;
    text-align: left;
    margin-top: 10px;
} 

.updatepic{
    height: 200px;
    width: 500px;
    margin-top: 10px;
}

.update2{

    height: 550px;
    width: 600px;

}